.Basket {
    margin-top: 20px;
    margin-left: 30%;
    padding: 10px 20px;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: linear-gradient(120deg, #aaa, rgb(202, 202, 202) 70%, #000 );
}

.Basket p {
    padding-left: 20px;
    font-weight: bold;
    color:  rgb(80, 80, 80);
}

.Basket span {
    color: rgb(87, 58, 58);
    font-weight: 900;
    font-size: 20px
}